<head>
    <script>
        const accessToken = '{{ accessToken }}'
    </script>
    <script src="autocomplete.js"></script>
</head>

<div class="wrapper">
    <div class="jumbotron text-center">
        <h1>CREATE PLAYLIST</h1>

        <form class="form">

            <legend>Enter playlist information</legend>

            <label for="name">Playlist name</label>
            <input type="text" class="playlist-name" name="name" id="name" placeholder="Name">

            <label for="description">Playlist description</label>
            <input type="text" class="playlist-description" name="description" id="description"
                placeholder="Description">



            <h2>Find Artists</h2>
            <div><input type="text" id="first-form" class="artist-search" name="artist" placeholder="Enter artist"></div>

        </form>

        <button type="submit" class="new-field btn btn-secondary btn-sm">Add Another Artist</button>
        <button type="submit" id="submit-button" class="btn btn-success btn-sm">Create playlist!</button>

    </div>
</div>