<head>
    <script>
        const accessToken = '{{ accessToken }}'
    </script>
    <script src="index.js"></script>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="wrapper col-xs-12 col-md-6 d-flex justify-content-center">
            <div class="jumbotron create-playlist-column">
                <h1>Create your playlist!</h1>

                <form class="form">

                    <label for="name">Playlist name</label>
                    <input type="text" class="playlist-name focusedInput" name="name" id="name" placeholder="Name">
                    <div class="w-100"></div>

                    <label for="description">Description &nbsp;&nbsp;</label>
                    <input type="text" class="playlist-description focusedInput" name="description" id="description"
                        placeholder="Description">
                    <div class="w-100"></div>



                    <h2>Enter seed artists</h2>
                    <div>
                        <input type="text" id="first-form" class="artist-search focusedInput" name="artist"
                            placeholder="Artist 1">
                    </div>

                </form>

                <button type="submit" class="new-field btn btn-secondary btn-sm">Add Another Artist</button>
                <div class="w-100"></div>
                <button type="submit" id="submit-button" class="create-playlist-submit">Create playlist!</button>

            </div>
        </div>
        <div class="col-xs-8 col-md-6 d-flex justify-content-center">
            <div class="playlist-column">
                <h1 class="playlist-header text-center">Your new playlist</h1>
                <div class="playlist-table-div">
                    <table class="tracks-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Artist</th>
                                <th>Album</th>
                            </tr>
                        </thead>
                        <tbody class="playlist-table-body">
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851e2d276d02265cfd1adc0ee81">
                                </td>
                                <td class="table-data">Da Feelin</td>
                                <td class="table-data">Nightmares On Wax</td>
                                <td class="table-data">Thought So…</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f06301a428d225507ebbc9a3">
                                </td>
                                <td class="table-data">Life Goes on (feat. GRiZ)</td>
                                <td class="table-data">Manic Focus</td>
                                <td class="table-data">Cerebral Eclipse</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485169f8fd3aede4894abf5da5f1">
                                </td>
                                <td class="table-data">Us (feat. The Kite String Tangle)</td>
                                <td class="table-data">CloZee</td>
                                <td class="table-data">Neon Jungle</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f33d1723ff3364586ccab2e4">
                                </td>
                                <td class="table-data">Thus</td>
                                <td class="table-data">Emancipator</td>
                                <td class="table-data">Thus</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851d03ff097fd93badef99c883e">
                                </td>
                                <td class="table-data">Cusp - Edit</td>
                                <td class="table-data">Frameworks</td>
                                <td class="table-data">Cusp</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851b61b23146e09b6967c17a3d7">
                                </td>
                                <td class="table-data">Aimer sans amour</td>
                                <td class="table-data">Guts</td>
                                <td class="table-data">Paradise for All (Deluxe Edition)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048517da6d6787071a97593cfbcee">
                                </td>
                                <td class="table-data">Kong</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">Black Sands</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485185d33ff3bb888c711e45c0ca">
                                </td>
                                <td class="table-data">Alright</td>
                                <td class="table-data">Tycho</td>
                                <td class="table-data">Simulcast</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485131073ba528a43985280d4dc6">
                                </td>
                                <td class="table-data">Words Remain</td>
                                <td class="table-data">Moderator</td>
                                <td class="table-data">The World Within</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048518167441bd7b2e6fe8be6d4e2">
                                </td>
                                <td class="table-data">Only Yesterday</td>
                                <td class="table-data">Pretty Lights</td>
                                <td class="table-data">Only Yesterday</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048512a217cd4f975a185ef5e1bc2">
                                </td>
                                <td class="table-data">I Won't Fade Away</td>
                                <td class="table-data">Quantic</td>
                                <td class="table-data">I Won't Fade Away</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851c2f076b3cbdac1b5cf3901f3">
                                </td>
                                <td class="table-data">Anthem</td>
                                <td class="table-data">Emancipator</td>
                                <td class="table-data">Soon It Will Be Cold Enough</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851afbe092af62a6a7349b85102">
                                </td>
                                <td class="table-data">Why did we fire the gun ?</td>
                                <td class="table-data">Waldeck</td>
                                <td class="table-data">Hôtel Costes 11</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485125d593f2cf5d66871745016b">
                                </td>
                                <td class="table-data">Aurora</td>
                                <td class="table-data">Zero 7</td>
                                <td class="table-data">Aurora</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485104e93d47237c8a89306ccc2f">
                                </td>
                                <td class="table-data">The Richest Man In Babylon</td>
                                <td class="table-data">Thievery Corporation</td>
                                <td class="table-data">The Richest Man In Babylon</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485155fa09a768d1ef5ea5d279f9">
                                </td>
                                <td class="table-data">Migration</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">Migration</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485144f450eee039b69359699765">
                                </td>
                                <td class="table-data">Awake</td>
                                <td class="table-data">Tycho</td>
                                <td class="table-data">Awake</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485116390218d99e807149f5127c">
                                </td>
                                <td class="table-data">Blue Dream - Koresma Remix</td>
                                <td class="table-data">Emancipator</td>
                                <td class="table-data">Mountain of Memory (Remixes)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485177fe9ce83b0bd9e6e6d9e5ae">
                                </td>
                                <td class="table-data">Muy Tranquilo</td>
                                <td class="table-data">Gramatik</td>
                                <td class="table-data">SB3</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851762febcdd54a4c40a2c8b442">
                                </td>
                                <td class="table-data">Lace</td>
                                <td class="table-data">Random Rab</td>
                                <td class="table-data">aRose</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485155a39a08c1f85de0cbd5ba46">
                                </td>
                                <td class="table-data">My Witch</td>
                                <td class="table-data">Moderator</td>
                                <td class="table-data">Sinner's Syndrome</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851bc27cad3aea2b59dccf7dd22">
                                </td>
                                <td class="table-data">Terrapin</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">Animal Magic</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485185ddf18349cda2a706cb216e">
                                </td>
                                <td class="table-data">Saudade</td>
                                <td class="table-data">Thievery Corporation</td>
                                <td class="table-data">Saudade</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851883ebe623b95f882af34eb40">
                                </td>
                                <td class="table-data">Pancakes</td>
                                <td class="table-data">Emancipator</td>
                                <td class="table-data">Baralku</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851adff413a447d19e9257c9150">
                                </td>
                                <td class="table-data">Space Walk</td>
                                <td class="table-data">Lemon Jelly</td>
                                <td class="table-data">Lost Horizons</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048515bd16afeadaf06b423326c31">
                                </td>
                                <td class="table-data">You Wish</td>
                                <td class="table-data">Nightmares On Wax</td>
                                <td class="table-data">In A Space Outta Sound</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048511de1fceb8fbd18f3995439c3">
                                </td>
                                <td class="table-data">Skylight</td>
                                <td class="table-data">Gramatik</td>
                                <td class="table-data">Beatz &amp; Pieces, Vol. 1</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048517e6a83ecb767f63c9e9657d7">
                                </td>
                                <td class="table-data">Finally Moving</td>
                                <td class="table-data">Pretty Lights</td>
                                <td class="table-data">Taking up Your Precious Time</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048516fb33dfccdad122151736cbd">
                                </td>
                                <td class="table-data">Tongue</td>
                                <td class="table-data">Edamame</td>
                                <td class="table-data">Ochre</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048518c8b77c4332ee057419e64f2">
                                </td>
                                <td class="table-data">Nineteen Hundred and Eighty Five</td>
                                <td class="table-data">Quantic</td>
                                <td class="table-data">Theme from Selva</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851b033087945225272e885808c">
                                </td>
                                <td class="table-data">Jets</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">The North Borders</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851d5ee01fec5044851a66dfdca">
                                </td>
                                <td class="table-data">Jelly</td>
                                <td class="table-data">Opiuo</td>
                                <td class="table-data">Omniversal</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851a798bd88ad1288025014637c">
                                </td>
                                <td class="table-data">Strike the Root</td>
                                <td class="table-data">Thievery Corporation</td>
                                <td class="table-data">The Temple of I &amp; I</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048510f387fd18dfdc5f0c18b80d3">
                                </td>
                                <td class="table-data">In The Waiting Line</td>
                                <td class="table-data">Zero 7</td>
                                <td class="table-data">Simple Things</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048518a2d45ade57a3bf1a8682a29">
                                </td>
                                <td class="table-data">All Through the Night</td>
                                <td class="table-data">Emancipator</td>
                                <td class="table-data">Safe in the Steep Cliffs</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485186ca556fc4d1366a7a4e4f7f">
                                </td>
                                <td class="table-data">The Passenger</td>
                                <td class="table-data">Kid Loco</td>
                                <td class="table-data">Hôtel Costes 15</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851b033087945225272e885808c">
                                </td>
                                <td class="table-data">Emkay</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">The North Borders</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851cd6684d50e944daf565a76bc">
                                </td>
                                <td class="table-data">Let the Funk Ride</td>
                                <td class="table-data">Aim</td>
                                <td class="table-data">Means of Production</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048518f7cf6a8c99565c7f02db85e">
                                </td>
                                <td class="table-data">Get On Uppa</td>
                                <td class="table-data">Waldeck</td>
                                <td class="table-data">Gran Paradiso</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048510f387fd18dfdc5f0c18b80d3">
                                </td>
                                <td class="table-data">Destiny</td>
                                <td class="table-data">Zero 7</td>
                                <td class="table-data">Simple Things</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485150a2acd5388809f8de22d64f">
                                </td>
                                <td class="table-data">Hot Like Sauce</td>
                                <td class="table-data">Pretty Lights</td>
                                <td class="table-data">Filling Up The City Skies (disc 2)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048516ce6bb858321ae9bbd66d7a2">
                                </td>
                                <td class="table-data">A Walk</td>
                                <td class="table-data">Tycho</td>
                                <td class="table-data">Dive</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485104e93d47237c8a89306ccc2f">
                                </td>
                                <td class="table-data">All That We Perceive</td>
                                <td class="table-data">Thievery Corporation</td>
                                <td class="table-data">The Richest Man In Babylon</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485155fa09a768d1ef5ea5d279f9">
                                </td>
                                <td class="table-data">No Reason</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">Migration</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851b2793e4754ed59b58ee6c56c">
                                </td>
                                <td class="table-data">Sodium Vapor</td>
                                <td class="table-data">Lotus </td>
                                <td class="table-data">Eat the Light</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851482be3c0abad6a3c2bcd2efd">
                                </td>
                                <td class="table-data">Smoke &amp; Mirrors</td>
                                <td class="table-data">RJD2</td>
                                <td class="table-data">Deadringer: Deluxe</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851b0039ac10431be630ca43e76">
                                </td>
                                <td class="table-data">Yellow Bird</td>
                                <td class="table-data">Pretty Lights</td>
                                <td class="table-data">A Color Map of the Sun (Deluxe Version)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851c29387283a6a2027beddce35">
                                </td>
                                <td class="table-data">Cumbia Sobre el Mar</td>
                                <td class="table-data">Quantic</td>
                                <td class="table-data">Dog With a Rope (Quantic Presenta Flowering Inferno)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048517da6d6787071a97593cfbcee">
                                </td>
                                <td class="table-data">We Could Forever</td>
                                <td class="table-data">Bonobo</td>
                                <td class="table-data">Black Sands</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485116390218d99e807149f5127c">
                                </td>
                                <td class="table-data">Himalayan - il:lo Remix</td>
                                <td class="table-data">Emancipator</td>
                                <td class="table-data">Mountain of Memory (Remixes)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>