<head>
    <script>
        const accessToken = '{{ accessToken }}'
    </script>
    <script src="autocomplete.js"></script>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="wrapper col-4">
            <div class="jumbotron create-playlist">
                <h1>Create your playlist!</h1>

                <form class="form">

                    <label for="name">Playlist name</label>
                    <input type="text" class="playlist-name" name="name" id="name" placeholder="Name">
                    <div class="w-100"></div>

                    <label for="description">Description &nbsp;&nbsp;</label>
                    <input type="text" class="playlist-description" name="description" id="description"
                        placeholder="Description">
                    <div class="w-100"></div>



                    <h2>Enter seed artists</h2>
                    <div><input type="text" id="first-form" class="artist-search" name="artist" placeholder=""></div>

                </form>

                <button type="submit" class="new-field btn btn-secondary btn-sm">Add Another Artist</button>
                <div class="w-100"></div>
                <button type="submit" id="submit-button" class="btn btn-success btn-sm">Create playlist!</button>

            </div>
        </div>
        <div class="col-8">
            <table class="tracks-table">
                <tr>
                    <th class="thumbnail-header"></th>
                    <th>Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                </tr>
            </table>
        </div>
    </div>
</div>