<head>
    <script>
        const accessToken = '{{ accessToken }}'
    </script>
    <script src="index.js"></script>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="wrapper col-6">
            <div class="jumbotron create-playlist-column">
                <h1>Create your playlist!</h1>

                <form class="form">

                    <label for="name">Playlist name</label>
                    <input type="text" class="playlist-name" name="name" id="name" placeholder="Name">
                    <div class="w-100"></div>

                    <label for="description">Description &nbsp;&nbsp;</label>
                    <input type="text" class="playlist-description" name="description" id="description"
                        placeholder="Description">
                    <div class="w-100"></div>



                    <h2>Enter seed artists</h2>
                    <div>
                        <input type="text" id="first-form" class="artist-search" name="artist" placeholder="Artist 1">
                    </div>

                </form>

                <button type="submit" class="new-field btn btn-secondary btn-sm">Add Another Artist</button>
                <div class="w-100"></div>
                <button type="submit" id="submit-button" class="btn btn-success btn-sm">Create playlist!</button>

            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="playlist-column">
                <h1 class="text-center">Your new playlist</h1>
                <div class="playlist-table-div">
                    <table class="tracks-table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Artist</th>
                                <th>Album</th>
                            </tr>
                        </thead>
                        <tbody class="playlist-table-body">
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048513d5b8fe604275dfab677bd0d">
                                </td>
                                <td class="table-data">Jet Black (feat. Brandy)</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Ventura</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851606331e9456ad05db7cf481e">
                                </td>
                                <td class="table-data">Lay Wit Ya (feat. Duke Deuce)</td>
                                <td class="table-data">Isaiah Rashad</td>
                                <td class="table-data">Lay Wit Ya (feat. Duke Deuce)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485153803906b8e69d850567b1a8">
                                </td>
                                <td class="table-data">The Law (feat. Mac Miller &amp; Rapsody)</td>
                                <td class="table-data">Ab-Soul</td>
                                <td class="table-data">Do What Thou Wilt.</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851164f75ca0666c001f0cddd65">
                                </td>
                                <td class="table-data">Rice &amp; Gravy</td>
                                <td class="table-data">Smino</td>
                                <td class="table-data">Rice &amp; Gravy</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851eec9bfc96c9e0495b35e2257">
                                </td>
                                <td class="table-data">Photosynthesis</td>
                                <td class="table-data">Saba</td>
                                <td class="table-data">Bucket List Project</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485163e47080f4fe8f127e86ceee">
                                </td>
                                <td class="table-data">Don't Slack (from Trolls World Tour)</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Don't Slack (from Trolls World Tour)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851655ae5e33937d69a58ed6566">
                                </td>
                                <td class="table-data">CHANCES</td>
                                <td class="table-data">KAYTRANADA</td>
                                <td class="table-data">NOTHIN LIKE U / CHANCES</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f6627d459b5cd60cc2c175e7">
                                </td>
                                <td class="table-data">LAW OF AVERAGES</td>
                                <td class="table-data">Vince Staples</td>
                                <td class="table-data">LAW OF AVERAGES</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048515fb07fa92d5d658edadf053a">
                                </td>
                                <td class="table-data">Really Love</td>
                                <td class="table-data">D'Angelo</td>
                                <td class="table-data">Black Messiah</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048513907a711fe2eaf9f50585572">
                                </td>
                                <td class="table-data">Extinct</td>
                                <td class="table-data">REASON</td>
                                <td class="table-data">New Beginnings</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f8e77075414234fd77fce32b">
                                </td>
                                <td class="table-data">Without You (feat. Rapsody)</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Malibu</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048515557786a9c1b65b81c018551">
                                </td>
                                <td class="table-data">Freeze Tag (feat. Phoelix)</td>
                                <td class="table-data">Terrace Martin</td>
                                <td class="table-data">Dinner Party</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851bbee5481e94a03f4fd26fac4">
                                </td>
                                <td class="table-data">That's Why I Love You (feat. Sabrina Claudio)</td>
                                <td class="table-data">SiR</td>
                                <td class="table-data">Chasing Summer</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485152c24049a16d59e98a638651">
                                </td>
                                <td class="table-data">Scottie Beam</td>
                                <td class="table-data">Freddie Gibbs</td>
                                <td class="table-data">Alfredo</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851ab1b13e7ec3ada8d31cdae8b">
                                </td>
                                <td class="table-data">MHM</td>
                                <td class="table-data">Vince Staples</td>
                                <td class="table-data">Vince Staples</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851d9ac65941679b76106866c87">
                                </td>
                                <td class="table-data">Why iii Love The Moon.</td>
                                <td class="table-data">Phony Ppl</td>
                                <td class="table-data">Yesterday's Tomorrow</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851201ae994b1a3f01802d65c2d">
                                </td>
                                <td class="table-data">So Far to Go</td>
                                <td class="table-data">J Dilla</td>
                                <td class="table-data">The Shining</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f8e77075414234fd77fce32b">
                                </td>
                                <td class="table-data">Parking Lot</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Malibu</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048510ecc57876382e8ce575ac07b">
                                </td>
                                <td class="table-data">Smile</td>
                                <td class="table-data">Isaiah Rashad</td>
                                <td class="table-data">Smile</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048511c1c33c63cdbcb5788975a93">
                                </td>
                                <td class="table-data">Special Affair</td>
                                <td class="table-data">The Internet</td>
                                <td class="table-data">Ego Death</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048515557786a9c1b65b81c018551">
                                </td>
                                <td class="table-data">Love You Bad (feat. Phoelix)</td>
                                <td class="table-data">Terrace Martin</td>
                                <td class="table-data">Dinner Party</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851267158422744961d90e942b3">
                                </td>
                                <td class="table-data">Boca Raton (with A$AP Ferg)</td>
                                <td class="table-data">Bas</td>
                                <td class="table-data">Milky Way</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048517ba7b4d23c717f3211717946">
                                </td>
                                <td class="table-data">Big Fish</td>
                                <td class="table-data">Vince Staples</td>
                                <td class="table-data">Big Fish Theory</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485169df217578b894639504e7a0">
                                </td>
                                <td class="table-data">Janet</td>
                                <td class="table-data">Berhana</td>
                                <td class="table-data">Berhana</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851c239644d7d88466ea0fd936b">
                                </td>
                                <td class="table-data">Got Friends</td>
                                <td class="table-data">GoldLink</td>
                                <td class="table-data">Got Friends</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048518be32b380765207f19d56435">
                                </td>
                                <td class="table-data">Wild Irish Roses</td>
                                <td class="table-data">Smino</td>
                                <td class="table-data">blkswn</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048511904cf63d8f039da1555ad18">
                                </td>
                                <td class="table-data">Milk N' Honey</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Venice</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f1a1bdd330659e602cb927ec">
                                </td>
                                <td class="table-data">Whipped Cream</td>
                                <td class="table-data">Ari Lennox</td>
                                <td class="table-data">Shea Butter Baby</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485152c106a8e6a49d7702a6f21f">
                                </td>
                                <td class="table-data">Pomegranate</td>
                                <td class="table-data">Kota the Friend</td>
                                <td class="table-data">Lyrics to GO, Vol. 2</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048519b6375bad39943011986c247">
                                </td>
                                <td class="table-data">What You Need</td>
                                <td class="table-data">KAYTRANADA</td>
                                <td class="table-data">BUBBA</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851fe1c22315738dd6e313e400f">
                                </td>
                                <td class="table-data">Late Night</td>
                                <td class="table-data">Lucky Daye</td>
                                <td class="table-data">Painted</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048513d5b8fe604275dfab677bd0d">
                                </td>
                                <td class="table-data">Make It Better (feat. Smokey Robinson)</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Ventura</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485128f137f2d8bda3ddd5d045cf">
                                </td>
                                <td class="table-data">Navajo</td>
                                <td class="table-data">Masego</td>
                                <td class="table-data">Navajo</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851d844f6b7311a69b9a08e7a0f">
                                </td>
                                <td class="table-data">High (feat. Danny Brown)</td>
                                <td class="table-data">Freddie Gibbs</td>
                                <td class="table-data">Piñata</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f5991f6f1f0de2277bb8d948">
                                </td>
                                <td class="table-data">Workin Out</td>
                                <td class="table-data">JID</td>
                                <td class="table-data">DiCaprio 2</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048517ba7b4d23c717f3211717946">
                                </td>
                                <td class="table-data">745</td>
                                <td class="table-data">Vince Staples</td>
                                <td class="table-data">Big Fish Theory</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048513d5b8fe604275dfab677bd0d">
                                </td>
                                <td class="table-data">Reachin' 2 Much (feat. Lalah Hathaway)</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Ventura</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851d1ec396884fa98695c1f7652">
                                </td>
                                <td class="table-data">White Walls</td>
                                <td class="table-data">GoldLink</td>
                                <td class="table-data">White Walls</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851418c202dda058a337ddb0f92">
                                </td>
                                <td class="table-data">Z4L (with Bari &amp; Jay2)</td>
                                <td class="table-data">Smino</td>
                                <td class="table-data">NOIR</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048512058046bccb36948b3eafa2c">
                                </td>
                                <td class="table-data">Country Sh*t (Remix)</td>
                                <td class="table-data">Big K.R.I.T.</td>
                                <td class="table-data">Country Sh*t (Remix)</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485136ba20b7e0d1b5336dad99c7">
                                </td>
                                <td class="table-data">Carefree</td>
                                <td class="table-data">Mick Jenkins</td>
                                <td class="table-data">The Circus</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f5991f6f1f0de2277bb8d948">
                                </td>
                                <td class="table-data">151 Rum</td>
                                <td class="table-data">JID</td>
                                <td class="table-data">DiCaprio 2</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851267158422744961d90e942b3">
                                </td>
                                <td class="table-data">Tribe (with J. Cole)</td>
                                <td class="table-data">Bas</td>
                                <td class="table-data">Milky Way</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048513016bbbbdf0825d3e4dc9aee">
                                </td>
                                <td class="table-data">GLOWED UP</td>
                                <td class="table-data">KAYTRANADA</td>
                                <td class="table-data">99.9%</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d000048516892023452c99d13a58c7647">
                                </td>
                                <td class="table-data">D'Evils</td>
                                <td class="table-data">SiR</td>
                                <td class="table-data">November</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f8e77075414234fd77fce32b">
                                </td>
                                <td class="table-data">Water Fall (Interluuube)</td>
                                <td class="table-data">Anderson .Paak</td>
                                <td class="table-data">Malibu</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d0000485160de86e634f2bd4d1364797e">
                                </td>
                                <td class="table-data">Hold On</td>
                                <td class="table-data">The Internet</td>
                                <td class="table-data">Hive Mind</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851ab1b13e7ec3ada8d31cdae8b">
                                </td>
                                <td class="table-data">LAKEWOOD MALL</td>
                                <td class="table-data">Vince Staples</td>
                                <td class="table-data">Vince Staples</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851fbdec8696ff05ae19265dfa0">
                                </td>
                                <td class="table-data">Silkk da Shocka (feat. Syd)</td>
                                <td class="table-data">Isaiah Rashad</td>
                                <td class="table-data">The Sun's Tirade</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="https://i.scdn.co/image/ab67616d00004851f1814f1b76df2fa196e4f45e">
                                </td>
                                <td class="table-data">Queen Tings</td>
                                <td class="table-data">Masego</td>
                                <td class="table-data">Lady Lady</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>