<h1>CREATE PLAYLIST</h1>

<form action="/create_playlist" method="post">

    <legend>New playlist form</legend>

    <label for="name">Playlist name</label>
    <input type="text" name="name" id="name" placeholder="Name">

    <label for="description">Playlist description</label>
    <input type="text" name="description" id="description" placeholder="playlist description">

    <button type="submit">Create playlist</button>

</form>