<div class="wrapper">
    <div class="jumbotron text-center">
        <h1>Spotify Playlist Generator</h1>
        <h3 class="text-white-50 mx-auto mt-2 mb-5">Give us your favorite artists and we'll serve up a succulent Spotify
            playlist with songs by similar artists!</h3>
        <a class="btn btn-success" href="/create_playlist">Get Started</a>
    </div>
</div>