<script>
const accessToken = '{{ accessToken }}'
</script>

<h2>Autocomplete Test</h2>

<form class="form">
    <div><input type="text" id="first-form" class="artist-search" name="artist" placeholder="Enter artist"></div>
    <button type="submit" class="new-field">Add Another Artist</button>
    <button type="submit" id="submit-button" class="btn btn-primary">Search</button>
</form>